* {
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:         border-box;   /* Everything else */
}


body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: aliased;
  font-smooth: never;
}

body.hacker {
    background-color: #111111;
    color: #55aa55;
    font-family: FixedsysExcelsior301Regular, Fixedsys, DOS, Consolas, 'Courier New', Courier, monospace;
}

body.fancy  {
    font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
}

input, button {
    font-size: 1em;
    padding: 3px 4px;
    margin: 0px; /* Safari fix */
}

.hacker input, .hacker button {
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #333333;
    color: #aaaaaa;
    font-family: FixedsysExcelsior301Regular,Fixedsys,DOS,Consolas,'Courier New',Courier,monospace;
}

.fancy input, .fancy, .fancy select {
    font-size: 1em;
    font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
}

input[type="text"] {
    box-shadow: 0 5px 10px -5px #000000 inset;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
    border: none;
    box-shadow: 1px 2px 1px -1px rgba(255, 255, 255, 0.05) inset, 1px 1px 1px #000000;
    text-shadow: 0 1px 1px #000000;
}


.clear {
  clear: both;
}
h1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  margin: 0;
  padding-left: 5px;
}

.hacker h1 {
    color: #999999;
    text-shadow: 1px 1px 0 #111111;
}

header {
  height: 24px;
  overflow: hidden;
}

.hacker header {
    background: none repeat scroll 0 0 #003300;
    border-left: 1px solid #004400;
    border-top: 1px solid #004400;
}

.fancy header {
    background: #0095dd;
    border-left: rgba(73, 95, 112, 0.8);
    border-top: rgba(73, 95, 112, 0.8);
}


header	h1 #head {
  float: left;
}

.fancy h1  #head {
    color: #ffffff;
}

header	#nav {
  position: absolute;
  right: 0;
  top: 2px;
}
header	#nav i {
  padding: 1px 5px;
  cursor: pointer;
}
header	a {
  text-decoration: none;
}
header #nav a, header #nav a:link, header #nav a:visited {
  color: #999999;
}
header	#nav a:hover, header	#nav i:hover {
  color: #eeeeee;
}
header	i.active {
  color: #55dd00;
}
#chatContainer {
  border: solid 1px #444444;
}
#chatEntries {
  height: 500px;
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.hacker #chatEntries {
    box-shadow: 0 5px 5px #000000 inset;
}

.fancy #chatEntries {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3) inset;
}


#chatMembers {
  font-size: 16px;
  color: #555555;
  height: 200px;
  float: right;
  display: none;
  border-left: solid 1px #444444;
  margin-left: -2px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  /* position: fixed;top: 28px;right: 30px; */
}

.hacker #chatMembers {
}

.fancy #chatMembers {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}

#chatMembers	a {
  display: block;
  color: #007700;
  text-decoration: none;
  padding: 1px 10px;
}

.w100 {
  width: 100%;
}
.w80 {
  width: 80%;
}
.w20 {
  width: 20%;
}
.w10 {
    width: 10%;
}
a {
  color: #15aac5;
}
#chatEntries	.me {
  color: #888888;
}
#chatEntries	.regular {
  color: #339933;
}
#chatEntries	.mention {
  color: #33dd33;
}
#chatEntries	.pm {
  color: #333399;
}
#chatEntries	.admin {
  color: #aa5555;
}
#chatEntries	.server {
  color: #555555;
}
#chatEntries	span {
  opacity: 0.7;
}
#chatEntries	span.ts {
  color: #005555;
}
#chatEntries	.message {
  margin: 0;
  padding: 5px;
}
#chatEntries	.message	p {
  margin: 0;
}

#chatEntries	a {
  color: #777755;
       text-decoration-color: rgba(119,119,85,0.2);
  -moz-text-decoration-color: rgba(119,119,85,0.2);
}
#chatEntries	a	span {
  opacity: 0.2;
}
#chatEntries	a:hover {
  text-decoration: underline;
}
#chatEntries	a:hover span {
  opacity: 1;
}

#chatControls {
  display: block;
  padding: 5px;
  height: 55px;
  overflow: hidden;
}

.hacker #chatControls {
    border-style: solid;
    border-width: 1px;
    border-color: #444444;
    border-top-color: #000000;
    box-shadow: 0 2px 3px #000000 inset;
    background: #222222;

}

.fancy #chatControls {
    border-style: solid;
    border-width: 1px;
    border-color: #0096dd;
    border-top-color: #b1d2e3;
    box-shadow: 0 2px 3px #b1d2e3 inset;
    background: #fafafa;
}


#appStatus {
  font-size: 11px;
  color: #222222;
}
#chatLogin {
  padding: 10px;
}

#messageWrap {
  margin-right: 60px;
}
#messageInput {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  height: 42px;
  outline: medium none;
  padding-right: 10px;
  resize: none;
  width: 100%;
}

.hacker #messageInput {
    border-color: #222222;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    box-shadow: 3px 0 2px -3px #000000;
    color: #cccccc;
    font-family: FixedsysExcelsior301Regular,Consolas,Courier New,monospace;
}
.fancy #messageInput {
    color: #484848;
    border-style: none;
    border-width: 0px;
}


#submit {
  border: 0 solid #444444;
  float: right;
  text-shadow: 0 -1px 0 #000000;
  width: 45px;
  line-height: 38px;
  padding: 0;
  box-shadow: none;
}

.hacker #submit {

    color: #659324;

}

.fancy #submit {

}
.hacker #messageInput {
    background: none repeat scroll 0 0 #222222;
}

.fancy #messageInput { /* #00539f*/
    background: transparent;
    color: #659324;
}


#chatSettings {
  display: none;
  position: absolute;
  right: 5px;
  top: 35px;
  width: 300px;
  border: solid 1px #115511;
  padding: 0;
  box-shadow: 1px 1px 5px #000000;
}

.hacker #chatSettings {
    background: #222222;

}

.fancy #chatSettings {
    background: #eeeeee;
}


#chatSettings #hideChatSettings {
  float: right;
  padding: 2px 5px;
  text-shadow: 0 -1px 1px #000000;
}


pre, code {
  max-height: 150px;
  overflow: auto;
  font-family: FixedsysExcelsior301Regular,Consolas,Courier New,monospace;
}
.typing::after {
  content: ' (набирает)';
  font-style: italic;
  opacity: 0.5;
}

.hacker .color0 {
  background-color: #10121a;
}
.hacker .color1 {
  background-color: #101a10;
}
.hacker .color2 {
  background-color: #1a121a;
}
.hacker .color3 {
  background-color: #1a1211;
}
.hacker .color4 {
  background-color: #171207;
}
.hacker .color5 {
  background-color: #1f1210;
}


a.year.circle {
    background-color: #004400;
    border-radius: 150px;
    color: #eeeeee;
    display: inline-block;
    height: 65px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 65px;
}

a.year.circle span {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-top: 5px;
  opacity: 0.8;
  width: 50%;
}

a.year.circle:hover {
  background-color: #007700;
}

.room   {float: left}
.hacker .room   {background-color: #333;color: #555     }
.hacker .room.active   {background-color: #444;color: #777}

.invisible  {visibility: hidden}