doctype 5
html
	head
		title RuLiQ - Русскоязычный анонимный Linux чат
		meta(charset="utf-8")	
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		link(rel="stylesheet" href="/static/style.css")
		link(rel="stylesheet" href="/static/fonts.css")
	body
		div.container
			header
				h1 История сообщений
			div#chatLogin
				p 	
				p= year
				p= month
				each item in chatLogs
					li
						span= item.pseudo 
						pre= item.message


