doctype html
html
	head
		title RuLiQ - Русскоязычный анонимный Linux чат
		meta(charset="utf-8")
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		link(rel="stylesheet" href="/static/style.css")
		link(rel="stylesheet" href="/static/fonts.css")
	body.hacker
		div.container
			header
				h1 Правила
			div#chatLogin
				p Добро пожаловать в наш чат. Для его работы используется современная технология WebSockets.
				p	Пожалуйста, укажите имя для входа в чат. Имя должно быть набрано латиницей и быть набрано без пробелов и прочих знаков.
				p  <b>@username</b> - упоминание пользователя
				p  <b>PM @username</b> - отправка сообщения в приват
				p	Данная конференция является преимущественно технической, поэтому не рекомендуется вести разговоры "за жизнь". 
				p Пожалуйста, воздержитесь от использования крепкого словца и уважайте собеседников.				
				p Помните, общение в чате абсолютно публично и оскорбление может считаться нанесенным в общественном месте.				
				p
				p	Запущено в демо-режиме. Сообщения о багах и пожелания присылать сюда lq@zoonman.com Обещаю прочитать все. По возможности буду исправлять.
				p
				p
					a(href="/logs/2014/07/") Logs
